
<p id="notice"><%= notice %></p>

<h1>Course</h1>

<table>
  <thead>
  <tr>
    <th>Teacher</th>
    <th>Subject</th>
    <th>Grade</th>
    <th>Level</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @course.teacher.name %></td>
        <td><%= @course.subject %></td>
        <td><%= @course.grade %></td>
        <td><%= @course.level %></td>
      </tr>
  </tbody>
</table>



<%= form_tag({controller: "admin", action: "add_student3"}, method: "post") do %>
    <div id="InfoTopics">
      <h5 class="uppercase mb8"><b>Student</b> <i id="tooltip" class="fa fa-question-circle" title="Selecciona todos los themes que desees agregar a la infografia."></i>&nbsp;</h5>
      <%= select_tag 'student', options_for_select(Student.all.map{ |u| [u.rut] }), {:multiple => true, :size => 5}   %>
      <%= hidden_field_tag 'course', @course.id %>
    </div>
    <%= submit_tag("Add") %>
<% end %>
<br>
