
<div class="card center">
  <div class="card-header" data-background-color="blue">
    <h2 class="title">Admin Panel</h2>
    <h3 class="title">options</h3>
  </div>
  <div class="card-content ">
    <section>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11 text">
          <h4 class="uppercase mb16"><a><%= link_to 'Add Teachers to Course', admin_add_teacher_path, class: "btn btn-deep-blue big-white"%></a></h4>
          <br>

        </div>
      </div>
    </section>

    <section>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11 text">
          <h4 class="uppercase mb16"><a><%= link_to 'Add Student to Course', admin_add_student_path, class: "btn btn-deep-blue big-white"%></a></h4>
          <br>

        </div>
      </div>
    </section>

    <section>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11 text">
          <h4 class="uppercase mb16"><a><%= link_to 'View All enrolled students', admin_student_courses_index_path, class: "btn btn-deep-blue big-white"%></a></h4>
          <br>

        </div>
      </div>
    </section>
    <!--
    <section>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11 text">
          <h4 class="uppercase mb16"><a><%= link_to 'View assistance', assistances_path%></a></h4>
          <br>

        </div>
      </div>
    </section>
    -->
    <section>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11 text">
          <h4 class="uppercase mb16"><a><%= link_to 'View All Courses and assistance', courses_path, class: "btn btn-deep-blue big-white"%></a></h4>
          <br>

        </div>
      </div>
    </section>

    <section>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11 text">
          <h4 class="uppercase mb16"><a><%= link_to 'Teachers', teachers_path, class: "btn btn-deep-blue big-white"%></a></h4>
          <br>

        </div>
      </div>
    </section>

    <section>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11 text">
          <h4 class="uppercase mb16"><a><%= link_to 'Students', students_path, class: "btn btn-deep-blue big-white"%></a></h4>
          <br>

        </div>
      </div>
    </section>
  </div>
</div>
