
<section class="page-title page-title-4 bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="uppercase mb0"> Options</h1>
          <br>
          <p class="lead mb64 titlehide">
            Decide que hacer
          </p>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>

  <section>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-11 text">
        <h4 class="uppercase mb16"><a><%= link_to 'Agregar Profes a cursos', admin_add_teacher_path%></a></h4>
        <br>

      </div>
    </div>
  </section>

<section>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11 text">
      <h4 class="uppercase mb16"><a><%= link_to 'Agregar Estudiantes a cursos', admin_add_student_path%></a></h4>
      <br>

    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11 text">
      <h4 class="uppercase mb16"><a><%= link_to 'View All enrolled students', admin_student_courses_index_path%></a></h4>
      <br>

    </div>
  </div>
</section>
<!--
<section>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11 text">
      <h4 class="uppercase mb16"><a><%= link_to 'View assistance', assistances_path%></a></h4>
      <br>

    </div>
  </div>
</section>
-->
<section>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11 text">
      <h4 class="uppercase mb16"><a><%= link_to 'View All Courses and assistance', courses_path%></a></h4>
      <br>

    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11 text">
      <h4 class="uppercase mb16"><a><%= link_to 'View All Teachers', teachers_path%></a></h4>
      <br>

    </div>
  </div>
</section>
