<p id="notice"><%= notice %></p>

<p>
<h1>Course:
  <% if @course.subject!=nil %>
      <% if @course.grade!=nil %>
          <% if @course.level!=nil %>
              <%= @course.subject + ' '+ @course.grade + '-' + @course.level%>
          <% else %>
              <%= @course.subject + ' '+ @course.grade%>
          <% end %>
      <% else %>
          <% if @course.level!=nil %>
              <%= @course.subject + ' ' +@course.level%>
          <% else %>
              <%= @course.subject%>
          <% end %>
      <% end %>
  <% else %>
      <% if @course.grade!=nil %>
          <% if @course.level!=nil %>
              <%= @course.grade + '-' + @course.level%>
          <% else %>
              <%= @course.grade%>
          <% end %>
      <% else %>
          <% if @course.level!=nil %>
              <%= @course.level%>
          <% end %>
      <% end %>
  <% end %>
</h1>

</p>
<p>
  <strong>Teacher:</strong>
  <%= @course.teacher.name%>
</p>

<h1>Assistances</h1>

<table class="basic_table">
  <thead>
  <tr>
    <th>Student</th>
    <th>rut</th>
    <% @dates.sort_by {|date| date}.each do |date| %>
        <td><%= date.strftime('%d-%m') %></td>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @course.students.each do |student| %>
      <tr>
        <td>
          <% if student.last_name != nil%>
              <%= student.name + ' '+student.last_name %>
          <% else %>
              <%= student.name %>
          <% end %>
        </td>
        <td><%= student.rut %></td>
        <% @dates.each do |date| %>
            <% aux = false %>
            <% student.assistances.where(course_id: @course.id).sort_by{|e| e[:date]}.each do |assistance| %>
                <% if assistance.date.strftime('%m-%d') == date.strftime('%m-%d') %>
                    <% if assistance.attend %>
                        <% aux = true %>
                    <%end%>
                <% end %>
            <% end %>
            <% if aux %>
                <td bgcolor="#88ff88" data-assist_id = "<%= find_assit(date, student.id, @course.id) %>"
                    id = "<%= find_assit(date, student.id, @course.id) %>"
                    class='change_assit'>
                  yes
                </td>
            <%else%>
                <td bgcolor="#ff8888" data-assist_id = "<%= find_assit(date, student.id, @course.id) %>"
                    id = "<%= find_assit(date, student.id, @course.id) %>"
                class='change_assit'>
                  no
                </td>
            <%end%>
        <%end%>
      </tr>
  <% end %>
  </tbody>
</table>
</br>

